* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text-color: #fff;
  --primary-bg: #1e2a47;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f2f2f2; */
  background-color: #141d2f;
  font-family: 'Space Mono', monospace, 'sans-serif';
  color: var(--text-color);
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  min-width: 327px;
  height: 38px;
}

.logo-text {
  font-weight: 700;
  font-size: 1.6rem;
}

.nav-theme-cnt {
  display: flex;
  align-items: center;
}

.nav-theme-cnt > h3 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-right: 6px;
}

/* SearchBar Styles */

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 327px;
  /* border: 1px solid grey; */
}

input {
  width: 327px;
  height: 60px;
  background-color: var(--primary-bg);
  border: none;
  border-radius: 6px;
  color: #fff;
  padding-right: 30px;
}

#input-bg-img {
  background-image: url('./assets/icon-search.svg');
  background-position: left 4px center;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
form > button {
  border-radius: 6px;
  border: none;
  width: 84px;
  height: 46px;
  background-color: #0079ff;
  color: var(--text-color);
}
