* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text-color: #fff;
  --primary-bg: #141d2f;
  --secondary-bg: #1e2a47;
  --font: 'Space Mono', monospace, 'sans-serif';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
  font-family: var(--font);
  color: var(--text-color);
  font-weight: 400;
}

header {
  margin-top: 1.92rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  min-width: 327px;
  height: 38px;
}

.logo-text {
  font-weight: 700;
  font-size: 1.6rem;
}

.nav-theme-cnt {
  display: flex;
  align-items: center;
}

.nav-theme-cnt > h3 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-right: 6px;
}

/* SearchBar Styles */

form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 2.62rem;
}

input {
  width: 327px;
  height: 60px;
  background-color: var(--secondary-bg);
  border: none;
  border-radius: 15px;
  font-family: var(--font);
  color: var(--text-color);
  font-size: 0.8rem;
}
/* styles for the input's background image(search icon) */
#input-bg-img {
  background-image: url('./assets/icon-search.svg');
  background-position: left 12px center;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 2.5rem;
}

input::placeholder {
  color: var(--text-color);
  font-size: 0.75rem;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.search-btn {
  border-radius: 10px;
  border: none;
  width: 84px;
  height: 46px;
  background-color: #0079ff;
  color: var(--text-color);
  font-family: var(--font);
  margin-left: -90px;
  z-index: 1;
}

/* Card styling top portion */
.card {
  background-color: var(--secondary-bg);
  margin-top: 1rem;
  width: 327px;
  height: 517px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding-left: 24px;
}

.card-top-cnt {
  margin-top: 25px;
}

.card-top-user-info {
  display: flex;
}

.card-top-user-info h2 {
  font-size: 1rem;
}

.card-top-user-info h5 {
  font-size: 0.8rem;
  color: #0079ff;
  font-weight: 400;
}

.card-top-user-info p {
  font-size: 0.8rem;
}

.bio {
  margin-top: 33px;
  font-size: 0.8rem;
  line-height: 25px;
  padding-right: 6px;
}

#img {
  border-radius: 50%;
  height: 70px;
  margin-right: 18px;
}
/* Card styling middle portion */
