* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  color: var(--text-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 327px;
  height: 38px;
  background-color: #0079ff;
}
.nav-theme-cnt {
  display: flex;
  align-items: center;
}
